body {
  background-color: #f0f2f5; /* Light background color */
  font-family: 'Roboto', sans-serif; /* Font style */
  color: #333;
}

.navbar {
  background-color: #343a40;
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: #007bff;
}

.nav-link {
  color: #bbb;
}

.nav-link:hover {
  color: #fff;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #343a40;
  font-size: 1.25rem;
}

.card-text {
  color: #555;
}

.btn-dark {
  background-color: #007bff;
  border: none;
}

.btn-dark:hover {
  background-color: #0056b3;
}

.but_hover:hover {
  background-color: #0056b3 !important;
}

.container {
  padding: 2rem 0;
}

.container .text-center {
  margin-bottom: 2rem;
  font-weight: bold;
  color: #343a40;
}

button:disabled {
  background-color: #ccc;
  border-color: #ccc;
}

button {
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
